<a href="https://colab.research.google.com/github/Nimish3011/FSDS-Bootcamp-2.0/blob/main/PythonAssignmentNo1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi There")

Hi There

In [ ]:
print = "Hi there" # as a variable
type(print)

str

In [ ]:
print("Hi there")

TypeError: ignored

**Que 1:** Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

Answers:

Error 1 : Encounterd with TypeError: 'str' object is not callable error.

This error accoured when we used reserverd keywords or same varibale name to perform oprations.due to this python compiler get confused and generate an error: TypeError: 'str' object is not callable

In [ ]:
del print

In [ ]:
A = input("Enter value of A:")
B = input ("Enter value of B:")
print (type(A),type(B))

Enter value of A:25
Enter value of B:25
<class 'str'> <class 'str'>

In [ ]:
A = int(input("Enter value of A:"))
B = int(input("Enter value of B:"))
print (type(A),type(B))

Enter value of A:25
Enter value of B:25
<class 'int'> <class 'int'>

In [ ]:
A = int(input("Enter value of A:")) 
B = float(input("Enter value of B:"))
print (type(A),type(B))

Enter value of A:23.5

ValueError: ignored

**Que 1.1**: Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

**Answers:**

**Error 2** : **invalid literal for int() with base 10: '2.2'**

An error occurred when we tried to convert a string, float, or int to an int, float, or string. The input provided by the user was not in the correct format for the desired data type.

**Que 2**: Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
NUM1 = input("Enter value for num1: ")
NUM2= input("Enter value for num2: ")
SUM = int(NUM1) + int(NUM2)
MUL = int(NUM1) * int(NUM2)
DIV = int(NUM1) / int(NUM2)
SQR = int(NUM1) ** 2

Enter value for num1: 5
Enter value for num2: 3

In [ ]:
print(f"Sum of {NUM1} and {NUM2} is {SUM}")
print(f"MUL of {NUM1} and {NUM2} is {MUL}")
print(f"DIV of {NUM1} and {NUM2} is {DIV}")
print(f"Square of {NUM1} is {SQR}")

Sum of 5 and 3 is 8
MUL of 5 and 3 is 15
DIV of 5 and 3 is 1.6666666666666667
Square of 5 is 3125

**QUE 3 : How many reserve keywords are there in python and why we should not use them as a variable name.**

**Python have 33 reserve keywords:**

**False/None/True/and/as/assert/break/class/continue/def/del/elif/else/except/finally/for/from/global/if/import/in/is/lambda/nonlocal/not/or/pass/raise/return/try/while/with/yield**

Python will raise an syntax error or compiler may confused at the time of excauation if you try to used reserve keyword as a varibale name.

**QUE 4: Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com**

In [ ]:
fname = input("Enter your first name:")
lname = input("Enter your last name:")
print(f"Email ID: {fname}.{lname}@gmail.com")

Enter your first name:Yash
Enter your last name:Raj
Email ID: Yash.Raj@gmail.com

**QUE 5: Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.**

In [ ]:
name,address,sal="Yash","25/5","50"
print(f"Hi i'm {name} My address is {address} I earn {sal}$ daily")

Hi i'm Yash My address is 25/5 I earn 50$ daily

**QUE 6: Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs**

In [ ]:
name = input("Enter your name:")
address = input("Enter your address:")
dob =  input("Enter your date of birth:")
print(f"Name is {name},Address is {address},DOB is {dob}")
print(f"Email ID : {name}.{dob}@gmail.com")

Enter your name:yash
Enter your address:sai
Enter your date of birth:33370
Name is yash,Address is sai,DOB is 33370
Email ID : yash.33370@gmail.com

**QUE 7: Convert the following -
"22.4" into integer AND
"22" into complex no.**

In [ ]:
X = 22.4
Y = int(X)
print(type(X),type(Y))

<class 'float'> <class 'int'>

In [ ]:
X = 22
Y = complex(X)
print(type(X),type(Y))

<class 'int'> <class 'complex'>