<a href="https://colab.research.google.com/github/Nimish3011/FSDS-Bootcamp-2.0/blob/main/PythonAssignmentNo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi There")

Hi There

In [ ]:
a,b,c = 10

TypeError: ignored

In [ ]:
type(a)

NameError: ignored

In [ ]:
type(b)

NameError: ignored

In [ ]:
a,A,b,c = 10,20,10,10

In [ ]:
print(a,A,b,c)

10 20 10 10

In [ ]:
a=b=c = 15

In [ ]:
print(a)

15

In [ ]:
VX = input("Enter Your Name : ")

Enter Your Name : Nimish Gaikwad

In [ ]:
print(f"You have entered: {VX}")

You have entered: Nimish Gaikwad

In [ ]:
A = int(input("Enter value of A: "))
 
B = int(input ("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 250
Enter value of B: 350
Sum of A and B is: 600

In [ ]:
A = float(input("Enter value of A: "))
 
B = float(input ("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 22.22
Enter value of B: 23.12
Sum of A and B is: 45.34

In [ ]:
A = float(input("Enter value of A: "))
 
B = int(input ("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 32
Enter value of B: 32
Sum of A and B is: 64.0

In [ ]:
A = "50.33"
print(f"Data type before: {type(A)}")
A = int(A)
print(f"Data type after: {type(A)}")

Data type before: <class 'str'>

ValueError: ignored

In [ ]:
#empty string to boolean
A = False
print(f"Data type before: {type(A)} , value of A: {A}")
A = bool(A)
print(f"Data type after: {type(A)}, value of A: {B}")

Data type before: <class 'bool'> , value of A: False
Data type after: <class 'bool'>, value of A: 32

In [ ]:
fname,mname,lname = "Nimish","Prakash","Gaikwad"
print(f"{fname}.{lname}@gmail.com")

Nimish.Gaikwad@gmail.com

In [ ]:
 name,place,dob="Nimish","Wardha",1997

In [ ]:
print(f"""My name is: {name}
I live at: {place}
I was born in {dob}""")

My name is: Nimish
I live at: Wardha
I was born in 1997